<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <title>FromAtom Works</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="FromAtom Works" />
  <meta property="og:description" content="FromAtomのポートフォリオサイトです。" />
  <meta property="og:site_name" content="FromAtom Works" />
  <meta property="og:image" content="{{ site.url }}/assets/images/og_image.png" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@FromAtom">
  <meta name="twitter:title" content="FromAtom Works">
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta name="twitter:description" content="FromAtomのポートフォリオサイトです。">
  <meta name="twitter:image" content="{{ site.url }}/assets/images/og_image.png">
  <link rel="stylesheet" href="{{ '/assets/css/all.min.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;800&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" type="image/png" href="/assets/images/icon_180.png">
  <link rel="icon" type="image/png" href="/assets/images/icon_192.png">
  <script type="text/javascript" src="{{ '/assets/js/main.js' | relative_url }}"></script>
</head>
<div class="main-container">
    {{ content }}
</div>
</html>